<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>自定义下拉框</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <custom-select :list="list"></custom-select>
  </div>
  <script type="text/x-template" id="select-tempalte">
    <div class="c-select">
      <input type="search" class="c-select__input" @click="showSelect = !showSelect" @keyup="search" v-model="value">
      <button type="button">查询</button>
      <ul v-show="showSelect" class="c-select__item-wrap">
        <li @click="select(item.value)" class="c-select__item" v-for="item in list">{{item.name}}</li>
      </ul>
    </div>
  </script>
  <script src="https://unpkg.com/vue@2.2.6"></script>
  <script src="js/custom-select.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
